section {
  margin-top: 5%;
}

.home-tagline {
  display: flex;
  flex-direction: row;
  width: 100%;
  #tagline {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 2.5em;
  }
  #tagline-image {
    width: 50%
  }
}
.home-section {
  display: flex;
  flex-direction: column;
  .section-title {
    align-self: center;
  }
  .section-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    .section-image {
      width: 50%;
    }
    .section-text {
      width: 50%;
    }
  }
}
