main {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // height: 100vh;
  width: 98%;
  margin-top:0px;
  margin-left: 1%;
  background: linear-gradient(180deg, rgba(87,85,161,1) 0%, rgba(255,255,255,1) 91%);
  // justify-content: space-between;
  box-shadow: 0.2em 0 0.2em -4px gray, -0.2em 0 0.2em -4px gray;
  #user-database-container {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    button {
      color: white;
    }
  }
}

#database-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .database-items {
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(227, 227, 227);
    padding: 1%;
    border-radius: 1.5em;
    .database-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .database-buttons {
      display: flex;
      flex-direction: row;
      button {
        margin-left: 3%;
      }
    }
  }
}

