nav {
  background-color: #5755a1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.95%;
  margin-right: 0.95%;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 100;
  h1 {
    font-size: 3em;
    color: white;
    margin-right: 10%;
  }
  ul {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    li {
      margin-left: 5%;
      margin-right: 5%;
      a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
}