main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 98%;
  margin-left: 1%;
  justify-content: space-between;
  box-shadow: 0.2em 0 0.2em -4px gray, -0.2em 0 0.2em -4px gray;
  #container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    #row-container {
      display: flex;
      flex-direction: row;
    form {
      display: flex;
      flex-direction: column;
      width: 75%;
      .query-table {
        border-radius: 2em;
        margin: 2%;
        padding: 2%;
        box-shadow: 0.2em 0.2em 0.2em gray;
        background-color: rgb(240, 240, 240);
        .field-inputs {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          // flex-wrap: wrap;
          label {
            margin-right: 1%;
            white-space: nowrap;
            align-self: center;
          }
          div {
            margin-left: 0.5%;
            margin-right: 0.5%;
          }
        }
        .add-remove-button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          button {
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
              margin-top: 0.2em;
            }
            svg {
              margin-right: 0.4em;
            }
          }
        }
      }
    }
  }
}

  .query-demo {
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
    width: 20%;
    border-radius: 2em;
    margin-top: 3%;
    div {
      padding: 2%;
      margin-top: 5%;
      height: auto;
    }
  }
}


#query-add-copy-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0 11px 32px -6px #7170a4;
    display: flex;
    flex-direction: row;
    div {
      font-weight: bold;
      margin-left: 10%;
      margin-top: 0.2em;
    }
  }
}

#query-buttons {
  width: 25%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 4%;
  margin-top: 3%;
  button {
    min-width: 30%;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0 11px 32px -6px #7170a4;
    flex-direction: row;
    display: flex;
    justify-content: center;
    div {
      font-weight: bold;
      margin-left: 2%;
      margin-top: 0.2em;
    }
  }
}

#tables-bottom {
  width: 100%;
  opacity: 0.5;
}

#query-database-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  p {
    // padding-top: 2%;
    font-size: 2em;
    font-weight: bold;
    color: white;
  }
  div {
    font-size: 1.5em;
    font-weight: bold;
    color: white;

  }
}

#queries-add-table {
  width: 25%;
}

#queries-copy-all {
  width: 15%;
}